body {
  margin: 0;
  padding: 4px 8px;
  height: 100vh;
  width: 100vw;
  display: block;
}

input.checkbox {
  margin: 0 4px 0 0;
}

.todo-list-container {
  padding-bottom: 8px;
}

.todo-list-item {
  padding-bottom: 4px;
}